<header class="navbar navbar-expand-md navbar-overlap d-print-none" data-bs-theme="dark">
  <div class="container-xl">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu">
      <span class="navbar-toggler-icon"></span>
    </button>
    <h1 class="navbar-brand navbar-brand-autodark d-none-navbar-horizontal pe-0 pe-md-3">
      <a href="/">
        <%= image_tag "logo.svg", width:"110", height: "32", alt: "Tabler", class: "navbar-brand-image" %>
      </a>
    </h1>
    <div class="navbar-nav flex-row order-md-last">
      <div class="d-none d-md-flex">
        <a href="#" data-action="click->theme#switch" data-theme-value='dark' class="nav-link px-0 hide-theme-dark" data-bs-toggle="tooltip" data-bs-placement="bottom" aria-label="Enable dark mode">
          <%= icon('moon') %>
        </a>
        <a href="#" data-action="click->theme#switch" data-theme-value='light' class="nav-link px-0 hide-theme-light" data-bs-toggle="tooltip" data-bs-placement="bottom" aria-label="Enable light mode">
          <%= icon('sun') %>
        </a>
        <div class="nav-item dropdown d-none d-md-flex me-3">
          <a href="#" class="nav-link px-0" data-bs-toggle="dropdown" tabindex="-1" aria-label="Show notifications">
            <%= icon('bell') %>
            <span class="badge bg-red"></span>
          </a>
          <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-end dropdown-menu-card">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Last updates</h3>
              </div>
              <div class="list-group list-group-flush list-group-hoverable">
                <div class="list-group-item">
                  <div class="row align-items-center">
                    <div class="col-auto"><span class="status-dot status-dot-animated bg-red d-block"></span></div>
                    <div class="col text-truncate">
                      <a href="#" class="text-body d-block">Example 1</a>
                      <div class="d-block text-muted text-truncate mt-n1">
                        Change deprecated html tags to text decoration classes (#29604)
                      </div>
                    </div>
                    <div class="col-auto">
                      <a href="#" class="list-group-item-actions">
                        <%= icon('star') %>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="list-group-item">
                  <div class="row align-items-center">
                    <div class="col-auto"><span class="status-dot d-block"></span></div>
                    <div class="col text-truncate">
                      <a href="#" class="text-body d-block">Example 2</a>
                      <div class="d-block text-muted text-truncate mt-n1">
                        justify-content:between ⇒ justify-content:space-between (#29734)
                      </div>
                    </div>
                    <div class="col-auto">
                      <a href="#" class="list-group-item-actions show">
                        <%= icon('star') %>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="list-group-item">
                  <div class="row align-items-center">
                    <div class="col-auto"><span class="status-dot d-block"></span></div>
                    <div class="col text-truncate">
                      <a href="#" class="text-body d-block">Example 3</a>
                      <div class="d-block text-muted text-truncate mt-n1">
                        Update change-version.js (#29736)
                      </div>
                    </div>
                    <div class="col-auto">
                      <a href="#" class="list-group-item-actions">
                        <%= icon('star') %>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="list-group-item">
                  <div class="row align-items-center">
                    <div class="col-auto"><span class="status-dot status-dot-animated bg-green d-block"></span></div>
                    <div class="col text-truncate">
                      <a href="#" class="text-body d-block">Example 4</a>
                      <div class="d-block text-muted text-truncate mt-n1">
                        Regenerate package-lock.json (#29730)
                      </div>
                    </div>
                    <div class="col-auto">
                      <a href="#" class="list-group-item-actions">
                        <%= icon('star') %>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="nav-item dropdown">
        <a href="#" class="nav-link d-flex lh-1 text-reset p-0" data-bs-toggle="dropdown" aria-label="Open user menu">
          <span class="avatar avatar-sm" style="background-image: url(<%=avatar_url%>)"></span>
          <div class="d-none d-xl-block ps-2">
            <div>Paweł Kuna</div>
            <div class="mt-1 small text-muted">UI Designer</div>
          </div>
        </a>
        <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
          <a href="#" class="dropdown-item">Set status</a>
          <a href="https://khairi.my/" class="dropdown-item">Profile &amp; account</a>
          <a href="#" class="dropdown-item">Feedback</a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">Settings</a>
          <a href="#" class="dropdown-item">Logout</a>
        </div>
      </div>
    </div>
    <div class="collapse navbar-collapse" id="navbar-menu">
      <div class="d-flex flex-column flex-md-row flex-fill align-items-stretch align-items-md-center">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/">
              <span class="nav-link-icon d-md-none d-lg-inline-block"><%= icon :home %></span>
              <span class="nav-link-title">
                Home
              </span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/pages/forms">
              <span class="nav-link-icon d-md-none d-lg-inline-block"><%= icon :checkbox%></span>
              <span class="nav-link-title">
                Forms
              </span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/pages">
              <span class="nav-link-icon d-md-none d-lg-inline-block"><%= icon :file_star%></span>
              <span class="nav-link-title">
                Pages
              </span>
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#navbar-extra" data-bs-toggle="dropdown" data-bs-auto-close="outside" role="button" aria-expanded="false">
              <span class="nav-link-icon d-md-none d-lg-inline-block">
                <%= icon :star %>
              </span>
              <span class="nav-link-title">
                Extra
              </span>
            </a>
            <div class="dropdown-menu">
              <div class="dropdown-menu-columns">
                <div class="dropdown-menu-column">
                  <a class="dropdown-item" href="/pages/components">
                    Activity
                  </a>
                  <a class="dropdown-item" href="/pages/components">
                    Gallery
                  </a>
                  <a class="dropdown-item" href="/pages/components">
                    Invoice
                  </a>
                  <a class="dropdown-item" href="/pages/components">
                    Search results
                  </a>
                  <a class="dropdown-item" href="/pages/components">
                    Pricing cards
                  </a>
                  <a class="dropdown-item" href="/pages/components">
                    Pricing table
                  </a>
                  <a class="dropdown-item" href="/pages/components">
                    FAQ
                    <span class="badge badge-sm bg-green text-uppercase ms-2">New</span>
                  </a>
                  <a class="dropdown-item" href="/pages/components">
                    Users
                  </a>
                </div>
                <div class="dropdown-menu-column">
                  <a class="dropdown-item" href="/pages/components">
                    License
                  </a>
                  <a class="dropdown-item" href="/pages/components">
                    Music
                  </a>
                  <a class="dropdown-item" href="/pages/components">
                    Tasks
                    <span class="badge badge-sm bg-green text-uppercase ms-2">New</span>
                  </a>
                  <a class="dropdown-item" href="/pages/components">
                    Uptime monitor
                  </a>
                  <a class="dropdown-item" href="/pages/components">
                    Widgets
                  </a>
                  <a class="dropdown-item" href="/pages/components">
                    Wizard
                  </a>
                  <a class="dropdown-item" href="/pages/components">
                    Settings
                    <span class="badge badge-sm bg-green text-uppercase ms-2">New</span>
                  </a>
                </div>
              </div>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/pages/icons">
              <span class="nav-link-icon d-md-none d-lg-inline-block">
                <%= icon :ghost %>
              </span>
              <span class="nav-link-title">
                Icons
              </span>
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="/pages/components" data-bs-toggle="dropdown" data-bs-auto-close="outside" role="button" aria-expanded="false">
              <span class="nav-link-icon d-md-none d-lg-inline-block">
                <%= icon :lifebuoy %>
              </span>
              <span class="nav-link-title">
                Help
              </span>
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/pages/sample">
                Documentation
              </a>
              <a class="dropdown-item" href="/pages/sample">
                Changelog
              </a>
              <a class="dropdown-item" href="https://github.com/mkhairi/rails-tabler-starter" target="_blank" rel="noopener">
                Source code
              </a>
              <a class="dropdown-item text-pink" href="https://github.com/mkhairi" target="_blank" rel="noopener">
                <%= icon :heart %>
                Sponsor project!
              </a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
