<%= turbo_frame_tag :flashes do %>
  <div class="toast-container position-fixed bottom-0 end-0 mb-3 me-3" data-controller="flash" data-turbo-temporary="true">
    <% flash.each do |type, message| %>
      <% next if %w{hidden ga timedout}.include? type %>
      <div class="toast toast fade <%= flash_class(type) %>" data-flash-target="notice" id="<%= SecureRandom.hex(8) %>" role="alert">
        <div class="toast-header">
          <%= icon "info-circle" %>
          <strong class="me-auto ms-2">
            <%= type.capitalize %>
          </strong><small>
            <%= Time.now.strftime("%H:%M") %>
          </small><button aria-label="Close" class="btn-close" data-bs-dismiss="toast" type="button">
          </button></div>
        <div class="toast-body">
          <%= message %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
